BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
FAUNA_SECRET=

DISCORD_CLIENT_SECRET=
DISCORD_CLIENT_ID=
# [Xata] Configuration used by the CLI and the SDK
# Make sure your framework/tooling loads this file on startup to have it available for the SDK
XATA_BRANCH=
XATA_API_KEY=
